.navbar-container {
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 80px;
    border: 2px outset black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(243deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 99.23%), #333C54;
    box-shadow: 0px 0px 5.34831px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    

    .notification-container {
        position: fixed;
        top: 20px;
        right: 20px;
        background-color: #ffffff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: none;
        z-index: 5;
      }
      
      .notification-container.show {
        display: block;
      }

    .nav-item  {
        img {
            margin: 20px 10px 10px 12px;
            width: 50px;
            height: 50px;
            transition: transform 0.3s ease;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
    .nav-header {
        display: flex;
        flex-grow: 1;
    }
    .nav-content .noti:hover {
        animation: carouselAnimation 1s;
    }
    .nav-content {
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
    }
    .notification-container {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: fit-content;
        background-color: orange;
        opacity: 0.7;
        animation: carouselAnimation 1s;
        display: flex;
        align-items: center;
        flex-direction: row;

    }
      
    .nav-footer {
        display: flex;
    }

    .nav-header,
    .nav-content,
    .nav-footer {
        flex-direction: column;
        
    }
}


@media (max-width: 700px) {
    .navbar-container {
        flex-direction: row !important;
        height: fit-content;
        width: 100%;
        border-radius: 10px;
    }
    
    .nav-header,
    .nav-content,
    .nav-footer {
        flex-direction: row !important;
    }
    .nav-item  {
        img {
            width: 39px !important;
            height: 39px !important;
        }
    }
}


@keyframes carouselAnimation {
    0% {
      transform: translateY(0) rotate(-10deg);
    }
    33% {
      transform: translateY(-5px) rotate(-20deg);
    }
    66% {
      transform: translateY(5px) rotate(10deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }