body {
    background: linear-gradient(to right, #4F3997, #6E58B6);
    font-family: 'Press Start 2P', cursive;
}

.headerBox {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    padding-bottom: 20px;
    text-align: center;


    .topLoginBox {
        width: 1200px;
        height: 250px;
        background-color: #C6A86A;
        border-bottom: 8px solid #000000;
        border-right: 8px solid #000000;
        border-left: 8px solid #EBD9F0;
        border-top: 8px solid #EBD9F0;
        
        .loginBoxHeader {
            height: 20%;
            background-color: #C6A86A;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .loginBoxOutside {
            height: 70.7%;
            border-top: 8px solid #EBD9F0;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
          
          .playRaw {
            display: flex;
            height: 100%;
            
            .playWith {
                width: 100%;
                justify-content: center;
            }

            .Friend {
                background: red;
            }
            .Practice {
                background: green;
            }
            
          }
        }
    }
}

.top-containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 20px;
    column-gap: 85px;

    .loginBox {
        width: 550px;
        height: 250px;
        border-bottom: 8px solid #EBD9F0;
        border-right: 8px solid #EBD9F0;
        border-left: 8px solid #000000;
        border-top: 8px solid #000000;

        .loginBoxHeader {
            height: 20%;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loginBoxOutside {
            height: 70.7%;
            border-top: 8px solid #EBD9F0;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
        }
    }

    .on-going-matches {
        background-color: #C6716A;
    }
    
    .states {
        background-color:#D7B3E1;
    } 
}    

.bottom-containers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 85px;

    .loginBox {
        width: 550px;
        height: 250px;
        border: 2px solid black;
        border-bottom: 8px solid #000000;
        border-right: 8px solid #000000;
        border-left: 8px solid #EBD9F0;
        border-top: 8px solid #EBD9F0;

        .loginBoxHeader {
            height: 20%;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .loginBoxOutside {
            height: 70.7%;
            border-top: 8px solid #EBD9F0;
            border-bottom: 8px solid #7C6E6E;
            border-right: 8px solid #7C6E6E;
        }
    }
    
    .achievements {
        background-color: #3B7469;
    }    
    .latest-matches {
        background-color: #151315;
        color: white;
    }
}    


.matcheHistory {
    height: calc(100%/3);
    opacity: 0.8;
    
    .match1{
        height: 100%;
        background: red;
    }
    
    .match2{
        height: 100%;
        background: green;
    }
    
    .match3 {
        height: 100%;
        background: orange;
    }
}