.canvas_renderer{
    display: flex;
    justify-content: center;
    align-items: center;
    #child_canvas{
        display: flex;
        width:1050px;
        height:500px;
        justify-content: center;
        align-items: center;
        // flex-grow : 1;
        // flex-shrink: 1;
        flex-direction: row-reverse; 
    }

}