$orange : rgb(56, 53, 53);
$Border_option : solid 4px black;
$child_width : 900px;
$child_height : 300px;
$gap : 4vh;
$padding : 4vh;
$color : #48CAE4;
body {
    background: $orange;
}

#root{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

#child{
    // background-color: rebeccapurple;
    // padding: 5px;
    width: 1050px;
    height: 500px;
    // margin: 15em;
    line-height: 20px;
    // border: $Border_option;
    text-align: center;
    }

}

@media (max-width: 800px) {
    #root{
        #child{
            line-height: 20px;
    // border: $Border_option;
    text-align: center;
        // background-color: green;
        }
    }
}