$orange : rgb(56, 53, 53);
$Border_option : solid 4px black;
$child_width : 1400px;
$child_height : 700px;
$gap : 4vh;
$padding : 4vh;
$color : #4f5250;
body {
    background: $orange;
}

#global_div{
    height: 100vh;
    width: 100vw;
    background-color: $color;
}