.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 75px;
  flex-shrink: 0; 
  border-radius: 10px;
  position: fixed;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #7259C1;
  border: 2px outset black;
  box-shadow: 0px 0px 5.34831px 0px rgba(0, 0, 0, 0.25);
}

.nav-columns {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item img{
  width: 50px;
  height: 50px;
  padding: 10px;
}

.nav-item:hover {
  animation: flash 2s;;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout {
  padding: 10px;
}

img {
  width: 100%;
  margin-top: 20px;
}