body {
    background: linear-gradient(to right, #4F3997, #6E58B6);
    font-family: 'Press Start 2P', cursive;
}

.StatesBox {
    display: flex;
    justify-content: right;
    text-align: center;

    .headStatesBox {
        width: 500px;
        height: 488px;
        background-color: #420657;
        border-top: 8px solid #EBD9F0;
        border-left: 8px solid #EBD9F0;
        border-bottom: 8px solid #000000;
        border-right: 8px solid #000000;

        .statesBoxHeader {
            height: 10%;
            background-color: cadetblue;
        }

        .statesBoxContent div {
            margin: 20px;
            display: flex;
            justify-content: space-between;
        }
        
        .statesBoxContent {
            color: white;
            .key {
                text-align: left;
            }
            .value {
                text-align: right;
            }
            
        }

    }
}


.achivementsBox {
    display: flex;
    justify-content: center;
    align-items: center;

    .fullAchivementsBox {
        width: 652px;
        height: 302px;
        background: #BFB3E1;
        border-bottom: 8px solid #000000;
        border-left: 8px solid #000000;
        border-right: 8px solid orange;




        .headAchivementsBox {
            height: 20%;
            background-color: cadetblue;
            border-bottom: 8px solid #000000;
            border-left: 8px solid orange;
            border-top: 8px solid orange;



        }

        .contentAchivementsBox {
            height: 69.5%;
            border-top: 8px solid #EBD9F0;
            border-left: 8px solid #EBD9F0;
            border-bottom: 8px solid olive;
            overflow: scroll;
            
            .ico {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                width: 40px;
                height: 58px; 
            }
            
        }
    }
}

.profilBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .profilRectangle {
        width: 655px;
        height: 216px;
        background-color: #F0A814CC;

        .avatar {
            background-color: red;
        }
    }
}
