.groupName {
	font-size: 24px;
	margin-bottom: 10px;
}

.groupAvatar {
	border-radius: 50%;
	width: 20%;
	height: 100%;
	margin-bottom: 20px;
}

.group-members {
	margin-bottom: 10px;
}

.nes-btn {
}

.nes-container{
	height: 300px;
	width: 600px;
	background: #e4f0ff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
  }
  
