.loginBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .loginBox {


        .loginBoxInside {

        }

        .purpleDiamond {

        }
    }

    .loginBoxOutside {

        
        .nes-btn {

            &.google {

            }

            &.intra {

            }

            
        }


        .text-OR {
            
        }

    }
}

            .cloudImg {

            }

            .pinkDiamond {

            }

            .purpleDiamond {

            }
        }

        .loginBoxOutside {

            
            .nes-btn {

                &.google {

                }

                &.intra {

                }

                
            }


            .text-OR {
                
            }

        }
    }
}