@import "nes.css/css/nes.min.css";

body {
	background: linear-gradient(243deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.00) 99.23%), #333C54;
}



.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;



	.settingsBox {
		display: flex;
		flex-direction: column;
		height: fit-content;
		width: 500px;
		max-width: 500px;
		transform: translateY(30vh);

		border-top: 8px solid #B19D9D;
		border-right: 8px solid black;
		border-bottom: 8px solid black;    
	
	  
		.header {
			font-size: x-large;
			height: 10%;            
			background-color: #be8eb6;
			border-right: 8px solid #643F5E;
			border-bottom: 8px solid #643F5E;
			border-left: 8px solid #B19D9D;
		}

		.content {
			flex: 1;
			height: 90%;
			background-color: #be8eb6;
			border: 8px solid;
			border-color: #B19D9D #73517C #73517C #B19D9D;
			.twoFa {
				padding-left: 50px;
				padding-right: 50px;
				padding-bottom: 10px;
			}
			.uploadContainer .nes-btn {
				margin-top: 10px;
				margin-bottom: 20px;
				width: 340px;
			}
			.nes-field > input {
				height: fit-content;
				margin-top: 10px;
				margin-bottom: 10px;
				background: #E9E9ED;
			}
			.startContainer  .nes-btn {
				margin-bottom: 10px;
				// animation: inAndOut 1s ease-in-out infinite;
			}
			.nes-btn {
				height: fit-content;
			}
			.nes-field {
				display: flex;
				justify-content: center;
				align-items: center;
				.nes-input {
					margin-top: 10px;
					width: 300px;
				}
			}
		  }
	}
}

.avatars {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	img {
		height: 100px;
		width: 100px;
		border-radius: 10%;
	
			&:active {
				border: 2px solid black;
				opacity: 0.5;
			}
		}
	}


@keyframes inAndOut {
	50% {
		transform: translate(3px, 1px);
	}
}

@keyframes shake {
	0%, 20%, 40%, 60%, 80% {
		transform: translateX(8px);
	}
	10%, 30%, 50%, 70%, 90% {
		transform: translateX(-8px);
	}
}


@media only screen and (max-width: 600px) {
	body, code, html, kbd, pre, samp {
		overflow-x: hidden;
	}
}

