body {
    background: linear-gradient(to right, #4F3997, #6E58B6);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.playRaw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.playWith {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.Friend {
    background: red;
}
.Practice {
    background: green;
}
.Bot {
    background: orange;
}


.four-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

:root {
    --boxColor: #C6A86A;
    --width: 1200px;
    --height: 250px;
    --box-inside-size: 20%;
    --bb: 8px solid #000000;
    --br: 8px solid #000000;
    --bt: 8px solid #EBD9F0;
    --bl: 8px solid #EBD9F0;
    --b-inside: 8px solid #7C6E6E;
    --font-color: #0d0d0d;
    --font-size: 23px;
}

.login-box {
    margin-bottom: 20px;
    background-color: var(--boxColor);
    width: var(--width);
    height: var(--height);
    flex-shrink: 0;
    border-bottom: var(--bb);
    border-right: var(--br);
    border-left: var(--bl);
    border-top: var(--bt);
}

.on-going-matches {
    width: 550px;
    height: 250px;
    background-color: #C6716A;
}

.states {
    width: 550px;
    height: 250px;
    background-color:#D7B3E1;
}

.achievements {
    width: 550px;
    height: 250px;
    background-color: #3B7469;
}

.latest-matches {
    width: 550px;
    height: 250px;
    background-color: #151315;
    color: white;
}

.top-login {
    background-color: var(--boxColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    font-family: 'Press Start 2P', cursive;
    font-size: var(--font-size);
    font-style: normal;
    height: var(--box-inside-size);
    position: relative;
    border-bottom: var(--b-inside);
    border-right: var(--b-inside);
}

.on-going-matches1 {
    background-color: #C6716A;
}

.achievements1 {
    background-color: #3B7469;
}

.states1 {
    background-color: #D7B3E1;
}

.latest-matches1 {
    color: white;
    background-color: #151315;
}

.matcheHistory1,
.matcheHistory2,
.matcheHistory3 {
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.matcheHistory1 {
    background: green;
    opacity: 0.8;
}

.matcheHistory2 {
    background: orange;
    opacity: 0.8;

}

.matcheHistory3 {
    background: red;
    opacity: 0.8;
}


.rightName {
    text-align: right;
}

.leftName {
    text-align: left;
}

.score {
    text-align: center;
}

.scooore {
    /* position: absolute; */
    align-items: center;
    background: black;
}

.margins {
  height: calc(100% - var(--box-inside-size));
  border-top:  var(--bt);
  border-bottom:  var(--b-inside);
  border-right:  var(--b-inside);
}